.divider {
  border: 4px solid navy;
}

.footer-quicklinks {
  background: #2f2f2f;
  color: white;
}

ul,
li {
}

.message {
  height: 100px;
  width: 300px;
}

.features {
  list-style: circle black;
}

.m1 {
  border: 1px solid lightsteelblue;
  border-collapse: collapse;
  border-top: none;
  border-spacing: 0;
}

.m1:first-child {
  border-top: 1px solid lightsteelblue;
}

.m1:last-child {
  border-bottom: none;
}

.m2 {
  border: 1px solid lightsteelblue;
  border-top: none;
  border-bottom: none;
}

.star {
  width: 100px;
  margin: 0 auto;
  display: block;
}
